
@{
    ViewBag.Title = "Blog";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Wagging Tail Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif
        }
    </style>
</head>
<body class="w3-light-grey">

    <!-- w3-content defines a container for fixed size centered content,
    and is wrapped around the whole page content, except for the footer in this example -->
    <div class="w3-content" style="max-width:1400px">

        <!-- Header -->
        <header class="w3-container w3-center w3-padding-32">
            <h1><b>Wagging Tail BLOG</b></h1>
            <p>Welcome to the blog of Wagging Tail </p>

        </header>

        <!-- Grid -->
        <div class="w3-row">

            <!-- Blog entries -->
            <div class="w3-col l8 s12">
                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    <img src="~/Content/Front Template/img/blog/Blog1.jpg" alt="Nature" style="width:100%">
                    <div class="w3-container">
                        <h3><b>Through the Eyes of a Pet Parent: A Journey of Love and Care at Wagging Tail</b></h3>
                        <h5> <span class="w3-opacity">April 7, 2023</span></h5>
                    </div>

                    <div class="w3-container">
                        <p>
                            As a pet parent, there's nothing more fulfilling than witnessing the boundless joy and unconditional love our canine companions bring into our lives. Just like any family member, our dogs deserve the best care and attention to ensure their well-being and happiness. At [Your Dog Clinic's Name], we understand the deep connection you share with your furry friend, and we take pride in being your trusted partner on this incredible journey of pet parenthood. Join us as we explore the unique perspective of a pet owner during a visit to [Your Dog Clinic's Name], where love and care converge to create a pawsome experience.<br>

                            1. A Warm Welcome:
                            Stepping into [Your Dog Clinic's Name], the warm and inviting atmosphere instantly puts both you and your dog at ease. The friendly smiles from the staff and the genuine interest they show in your pet make you feel like you're among friends who share the same love for animals.<br><br>


                            <span id="dots">
                                2. Trust and Assurance:
                                As a pet parent, you understand the significance of trust when it comes to your furry family member's well-being. The dedicated team of veterinarians at [Your Dog Clinic's Name] earns your trust with their expertise and genuine care for your dog's health. Knowing that your pet is in capable hands fills your heart with a sense of assurance and peace.<br><br>

                                3. A Tailored Approach:
                                Every dog is unique, and their health needs vary based on factors such as breed, age, and lifestyle. At [Your Dog Clinic's Name], the personalized approach to your pet's care sets your mind at ease. The veterinarians take the time to understand your dog's specific requirements and provide tailored recommendations for their health and happiness.<br><br>

                                4. A Holistic Perspective:
                                Beyond the routine checkup, the veterinarians at [Your Dog Clinic's Name] consider the whole picture of your dog's well-being. From discussing their nutrition to addressing behavioral concerns, their holistic approach ensures that your dog's physical and emotional needs are met, contributing to a healthy and well-rounded pet.<br><br>

                                5. Empowerment through Education:
                                As a pet owner, you value being actively involved in your dog's health journey. The veterinarians at [Your Dog Clinic's Name] empower you with knowledge about preventive care, nutrition, and wellness practices. This education strengthens the bond you share with your pet and equips you to provide the best possible care in between visits.<br><br>

                                6. Compassionate Support:
                                During moments of uncertainty or when your dog faces health challenges, the compassionate support from the veterinary team at [Your Dog Clinic's Name] provides solace. Their unwavering dedication to your pet's well-being reassures you that, together, you will navigate any hurdle that comes your way.<br><br>

                                Conclusion:
                                At Wagging Tail, the journey of a pet owner is a cherished one, filled with love, care, and the profound connection with your furry family member. As you leave the clinic after each visit, your heart is filled with gratitude for the dedicated team who shares your commitment to providing the best life possible for your beloved dog. With [Your Dog Clinic's Name] by your side, you embark on a remarkable adventure of love, companionship, and the ever-present promise of wagging tails and unforgettable memories.<br><br>

                                Wagging Tail - Where Pet Parenthood Flourishes, and Every Paw Finds Loving Care!
                            </span>
                            <span id="more">

                            </span>
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p><button class="w3-button w3-padding-large w3-white w3-border" onclick="myFunction()"><b>READ MORE »</b></button></p>
                            </div>

                        </div>
                    </div>
                </div>
                <hr>

                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    <img src="~/Content/Front Template/img/blog/Blog2.jpg" alt="Nature" style="width:100%">
                    <div class="w3-container">
                        <h3><b>A Paw-sitive Partnership: Nurturing Your Furry Friend's Health at Wagging Tail</b></h3>
                        <h5> <span class="w3-opacity">July 22, 2023</span></h5>
                    </div>

                    <div class="w3-container">
                        <p>
                            The journey of pet parenthood is a beautiful adventure filled with moments of joy, laughter, and unconditional love. 
                            At Wagging Tail, we understand the immense bond you share with your four-legged companion, and we are dedicated to providing the highest level of care for your furry friend. 
                            Join us as we take you through the heartwarming experiences of pet parents during their visits to Wagging Tail,
                            where we strive to create a paw-sitive partnership that enriches the lives of both pets and their owners.<br>
                            <span id="dots">
                               Welcoming Smiles and Wagging Tails:
                               As you step into Wagging Tail, you are greeted with warm smiles and wagging tails from our compassionate staff. We know that a friendly and inviting atmosphere not only eases your nerves but also makes your furry friend feel at home. Our team's genuine love for animals ensures that every visit starts with a positive note.<br><br>

                               1. Trust Through Expertise:
                               As pet owners ourselves, we understand that trust is the foundation of any successful partnership. Our team of skilled veterinarians at Wagging Tail possesses extensive knowledge and experience in pet care. They treat your dog with the same attention and care they would give their own pets, building a strong bond of trust with you and your furry companion.<br><br>

                               2. Personalized Care Tailored to Your Dog:
                               Just like every human is unique, so is every dog. At Wagging Tail, we recognize the individuality of each pet and provide personalized care based on their specific needs. From routine checkups to specialized treatments, our veterinarians tailor their approach to ensure the well-being and happiness of your beloved pet.<br><br>

                               3. Beyond Physical Health: Nurturing the Soul:
                               Our care extends beyond the physical well-being of your furry friend. We understand that emotional health plays a significant role in a dog's overall happiness. At Wagging Tail, we take the time to understand your pet's behavior and address any emotional concerns, creating a nurturing environment that fosters a happy and well-rounded dog.<br><br>

                               4. Empowering Pet Parents for Lifelong Care:
                               We believe that the journey of pet parenthood is a shared responsibility. As part of our commitment to empowering pet parents, we provide valuable education and guidance on preventive care, nutrition, and wellness practices. With this knowledge, you become an active participant in your dog's health journey, strengthening the bond you share with your furry companion.<br><br>

                               5. Standing By You, No Matter What:
                               Life may throw unexpected challenges, but with Wagging Tail by your side, you never walk alone. Our compassionate support extends beyond the clinic walls. Whether it's a health concern or a moment of celebration, we stand by you and your pet, providing guidance and care every step of the way.<br><br>

                               Conclusion:
                               At Wagging Tail, we cherish the honor of being a part of your pet parenthood journey. Your trust and love for your furry friend inspire us to provide the best possible care and create a paw-sitive partnership that lasts a lifetime. Together, we embark on a heartwarming adventure filled with wagging tails, joyful moments, and the unwavering bond between pet parents and their beloved dogs.<br><br>

                               Wagging Tail - Nurturing Health, Enriching Lives, One Wag at a Time!
                               </span>                                                                            
                            <span id="more">

                            </span>
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p><button class="w3-button w3-padding-large w3-white w3-border" onclick="myFunction()"><b>READ MORE »</b></button></p>
                            </div>

                        </div>
                    </div>
                </div>
                
                <!-- END BLOG ENTRIES -->
            </div>

            <!-- Introduction menu -->
            <div class="w3-col l4">
                <!-- About Card -->
                <div class="w3-card w3-margin w3-margin-top">
                    <img src="~/Content/Front Template/img/blog/Blog3.jpeg" style="width:100%">
                    <div class="w3-container w3-white">
                        <h4><b>Wagging Tail</b></h4>
                        <p>Welcome to the Wagging Tail Blog, where we delve into the heartwarming experiences of pet parents during their visits to our esteemed clinic. 
                        In this blog, we aim to share the stories of love, care, and unwavering devotion that shape the unique bond between pets and their owners.</p>
                    </div>
                </div><hr>

                <!-- Posts -->
                <div class="w3-card w3-margin">
                    <div class="w3-container w3-padding">
                        <h4>Popular Blogs</h4>
                    </div>
                    <ul class="w3-ul w3-hoverable w3-white">
                        <li class="w3-padding-16">
                            <img src="~/Content/Front Template/img/blog/Blog1.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                            <span class="w3-large">Blog - 1</span><br>
                            <span>Through the Eyes of a Pet Parent: A Journey of Love and Care at Wagging Tail</span>
                        </li>
                        <li class="w3-padding-16">
                            <img src="~/Content/Front Template/img/blog/Blog2.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                            <span class="w3-large">Blog - 2</span><br>
                            <span>A Paw-sitive Partnership: Nurturing Your Furry Friend's Health at Wagging Tail</span>
                        </li>
                        
                    </ul>
                </div>
                <hr>

                <!-- Labels / tags -->
                <div class="w3-card w3-margin">
                    <div class="w3-container w3-padding">
                        <h4>Tags</h4>
                    </div>
                    <div class="w3-container w3-white">
                        <p>
                            <span class="w3-tag w3-black w3-margin-bottom">Pet Care</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Dog Health</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Veterinery Services</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Pet Parenting</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Canine Wellness</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Preventive Care</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Nuirition Tips</span> 
                        </p>
                    </div>
                </div>

                <!-- END Introduction Menu -->
            </div>

            <!-- END GRID -->
        </div><br>

        <!-- END w3-content -->
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
        @Html.ActionLink("Back to Home", "StartTemplate", "Home", new { @class = "main_btn" })
        <p>Powered by <a href="www.waggingtail.com" target="_blank">Wagging Tail</a></p>
    </footer>

    <script>
        function myFunction() {
            var dots = document.getElementById("dots");
            var moreText = document.getElementById("more");
            var btnText = document.getElementById("myBtn");

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "READ MORE »";
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "READ LESS";
                moreText.style.display = "inline";
            }
        }
    </script>

</body>
</html>
